page-home {
    .title{
        font-size: 1.5em;
        font-family: initial;
        font-style: italic;
        text-align: center;
        color: blue;
    }
    .up{
        background-color: transparent;
    }
}
